<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>295029911394-om1j52vginf4qv99pnr8ufocs37mcrst.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-G-Kt96yF56uRF5codIC7ZUaiCNwhYw</string>
	<key>GCM_SENDER_ID</key>
	<string>295029911394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.dynamiclinkalternative</string>
	<key>PROJECT_ID</key>
	<string>dynamiclink-1ff38</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamiclink-1ff38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295029911394:ios:90f8e33f65953c16e6463b</string>
</dict>
</plist>